.AboutPage .heading{
    margin-top: 100px;
}
.about {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .about .image {
  flex:40rem;
  }
  .about .image img {
    width: 100%;

  }
  .about .content {
   flex: 40rem;
  }
  .about .content span {
    color: #bac34e;
    font-size: 2.5rem;
  }
  .about .content h3 {
    font-size: 3rem;
    padding-top: .5rem;
  }
  .about .content p {
    color: #666;
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
  }