@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
*{
    font-family: 'Poppins','sans-serif';
    text-decoration : none;
    text-transform:capitalize;
    transition: 0.2s linear;
}

html{
    font-size: 62.5%;
}
section {
    padding: 3rem 9%;
  }
.heading {
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
.heading h1 {
    color: black;
    font-size: 3rem;
}
.privacy {
    display: flex;
    align-items: center;
  }
.privacy .content {
    flex: 40rem;
   }
.privacy .content span {
     color: #bac34e;
     font-size: 2.5rem;
   }
.privacy .content h3 {
     font-size: 3rem;
     padding-top: .5rem;
   }
.privacy .content p {
     color: #666;
     font-size: 1.4rem;
     line-height: 2;
     padding: 1rem 0;
}